.b-support {

	ol {
		list-style-type: none;
		padding-left: 0;
		counter-reset: item;
		margin-bottom: 24px;

		>li {
			counter-increment: item;
			margin-bottom: 28px;
			color: var(--color-primary-dark);

			&::before {
				content: counter(item) ". ";
				color: var(--color-primary-dark);
			}

			ul {
				list-style-type: none;
				padding-left: 0;
				margin-top: 12px;
				color: var(--color-body);
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					position: relative;
					padding-left: 16px;
					margin-bottom: 8px;
					margin-left: 16px;

					&::before {
						background-image: none;
						content: '•';
						position: absolute;
						left: 0;
						top: 0;
						color: var(--color-secondary);
					}
				}
			}
		}
	}

	.__right-list {
		ul {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 12px;

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 8px;
				align-items: start;

				&::before {
					content: '';
					display: inline-block;
					width: 16px;
					height: 16px;
					background-image: url('@images/check.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					flex-shrink: 0;
					position: relative;
					top: 6px;
				}
			}
		}
	}
}