.b-values {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}
	}

	.__icon-img {
		filter: brightness(0) invert(1);
	}

	.__glow {
		position: absolute;
		width: 40rem;
		aspect-ratio: 1;
		border-radius: 50%;
		opacity: 0.6;
		pointer-events: none;
		z-index: 0;
	}

	.__glow--blue {
		background: radial-gradient(circle,
				var(--colors-bg-p-lighter, #9ae5ff) 0%,
				transparent 70%);
	}

	.__glow--pink {
		background: radial-gradient(circle,
				var(--colors-bg-s-lighter, #db2e8a) 0%,
				transparent 70%);
	}
}

.b-values.section-secondary {
	.__glow--blue {
		background: radial-gradient(circle,
				var(--colors-bg-p-lighter, #fd50ac) 0%,
				transparent 70%);
	}

	.__glow--pink {
		background: radial-gradient(circle,
				var(--colors-bg-s-lighter, #db2e8a) 0%,
				transparent 70%);
	}
	.__top {
		border-bottom:0 !important;
		padding-bottom:0 !important;
	}

	.__card {
		align-items: center;
		background: #FFF !important;
		border:none !important;

		.__icon {
			height: 64px;
			width: 64px;
		}
	}
}